[user]
	name = liushangliang
	email = phenix3443@gmail.com
[core]
	quotepath = false
	editor = vim
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
	prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	prompt = false
